.nevbarContainer{
    position:absolute;
    position: sticky;
    width:100%;
    height:15vh;
    background:rgb(137, 95, 95);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nevbarContainer>.Logo{
    position:relative;
    width:7%;
    height:12vh;  
    left:1rem;
}
.Logo>img{
    position:relative;
    width:fit-content;
    height:100%;
}
.nevbarContainer>.ulli{
    position:relative;
    color:white;
}
.ulli>ul{
    position:relative;
    display:flex;
   gap:2rem;
   font-size: 25px;
   font-family: 'Courier New', Courier, monospace;
    list-style: none;  
}
.ulli>li{
    position:relative;
    margin-left: 10%;
}
